* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #d1caca;
    background-color: #2F3540;
    height: 100%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}

header {
    background-color: #171C26;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.image-container, .image-container-index {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 25px;
}

.image-container img, .image-container-index img{
    width: 25%;
    height: 25%;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 15%;
    height: auto;
    object-fit: cover;
}
.calendar {
    padding: 15px;
    background-color: #2F3540;
}

.responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #777;
}


.about{
    padding: 15px;
    margin: 0 auto;
    max-width: 850px;
    text-align: left;
}

.pastor-about {
    padding: 20px;
    background-color: #2F3540;
    margin: 0 auto;
    max-width: 850px;
    text-align: left;
}

.pastor-container {
    display: flex;
    align-items: left;
    flex-direction: row;
}

.pastor-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pastor-container p {
    flex: 1;
    text-align: justify;
}

.pastor-text {
    padding: 20px;
}
.pastor-text ol {
    padding-left: 20px;
}
.pastor-text ul {
    padding-left: 20px;
}

@media (min-width: 1024px) {
    .responsive-iframe {
        padding-top: 50%;
    }
    .pastor-text {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .responsive-iframe {
        padding-top: 150%;
    }
    .calendar {
        padding: 10px;
    }
    .logo {
        width: 35%;
    }
    .image-container img, .image-container-index img{
        width: 50%;
        height: 50%;
    }
    .image-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .pastor-text {
        padding: 20px;
        text-align: left;
        width: 100%;
    }
    .about p {
        text-align: left;
        flex: none;
    }

    .about, .pastor-about {
        padding: 10px;
        max-width: 100%;
    }
    .pastor-img {
        width: 200px;
        height: 200px;
        margin-left: calc(50% - 100px);
        margin-right: calc(50% - 100px);
    }
    .pastor-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .pastor-container p {
        margin-top: 10px;
        min-width: 0;
        flex: none;
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .responsive-iframe {
        padding-top: 200%;
    }
    .calendar {
        padding: 5px;
    }
    .logo {
        width: 50%;
    }
    .image-container img, .image-container-index img{
        width: 60%;
        height: 60%;
    }
    .image-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .pastor-text {
        padding: 5px;
        text-align: left;
        width: 100%;
    }

    .about, .pastor-about {
        padding: 5px;
    }
    .pastor-img {
        width: 200px;
        height: 200px;
        margin-left: calc(50% - 100px);
        margin-right: calc(50% - 100px);
    }
    .pastor-container p {
        text-align: left;
        flex: none;
    }
    .about p {
        text-align: left;
        flex: none;
    }
}

h1, h2 {
    color: #7289A6;
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    padding: 10px 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #9C9CA6;
    font-weight: bold;
}

@media (max-width: 768px) {
    nav ul li {
        padding: 10px 5px;
        margin-right: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }
}

nav ul li a:hover {
    color: #FFFFFF;
}

.email{
    color: #d1caca;
}
.email:hover{
    color: #FFFFFF;
}

main {
    margin-top: 20px;
    padding: 20px;
    background: #2F3540;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

.bible-verse {
    font-style: italic;
    background-color: #252525;
    padding: 15px;
    margin: 0 auto;
    max-width: 600px;
    min-width: 250px;
}
.service{
    padding: 15px;
    margin: 0 auto;
    max-width: 250px;
    min-width: 250px;
    text-align: center;
}


.body-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
    max-height: 500px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2F3540;
    position: relative;
    width: 100%;
    height: 50px;
}



.map-iframe {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    height: 0;
    padding-top: 56.25%;
    min-height: 300px;
}

.map-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2F3540;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    min-width: 250px;
}

.contact-info, .contact-visuals {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 50%;
    padding: 10px;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .contact-info, .contact-visuals {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .map-iframe {
        padding-top: 30%;
    }
}

@media (min-width: 1024px) {
    .map-iframe {
        padding-top: 20%;
    }
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}